/* Reset */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Contenitore */
.container{
  margin: 0 auto;
  position: relative;
  height: 100vh;

}
/* Immagine Roma */
.roma{
  width: 99%;
  height: 99%;
  background-image: url(../img/roma.jpg);
  background-size: cover;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 4px 4px 8px red;
}
/* Immagine Firenze */
.firenze{
  width: 99%;
  height: 99%;
  background-image: url(../img/firenze.jpg);
  background-size: cover;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 4px 4px 8px red;
}
/* Immagine Venezia */
.venezia{
  width: 99%;
  height: 99%;
  background-image: url(../img/venezia.jpg);
  background-size: cover;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 4px 4px 8px red;
}
/* Opacità */
.opaco{
  width:100%;
  height: 100%;
  background-color:rgba(0,0,0,0.5);
}
/* Scritta in rilievo */
.scritta{
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  text-shadow: 4px 4px 8px #9147ff;
}
/* Switch Opacità */
.roma:hover .opaco{
  display: contents;
}
.firenze:hover .opaco{
  display: contents;
}
.venezia:hover .opaco{
  display: contents;
}
