/* Reset */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Contenitore */
.container{
  margin: 0 auto;
  position: relative;
  height: 100vh;
}
.roma{
  width: 100vw;
  height: 100vh;
  background-image: url(../img/roma.jpg);
  background-size: cover;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.firenze{
  width: 100vw;
  height: 100vh;
  background-image: url(../img/firenze.jpg);
  background-size: cover;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.venezia{
  width: 100vw;
  height: 100vh;
  background-image: url(../img/venezia.jpg);
  background-size: cover;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.opaco{
  width: 100wh;
  height: 100vh;
  background: black;
  opacity: 0.5;
}
.scritta{
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  text-shadow: 4px 4px red;
}
